body, html, div, p, canvas, form, input,
button, label, select {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin: 0 auto;
  width: 1280px;
}
